/*
  If you prefer your CSS Sassy. Run npm install -s node-sass and change the extension and import of this file.
  Or use Less or whatever form of styling brings you the most Joy. Bonus points for following a CSS methodology. (BEM, OOCSS, ETC)
*/

body {
  margin: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gochi Hand', cursive, 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
  font-weight: normal;
}

/*
$salmon: #FA7C92;
$rain: #6EC4DB;
$buttermilk: #FFF7C0;
$leaf: #66AB8C;
$black: #000000;
*/
